/* .about-us {
    background-color: #f8f9fa;
    color: #212529;
    padding: 50px;
    text-align: center;
  }
  
  .about-us h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .about-us p {
    font-size: 24px;
    line-height: 1.5;
  }
  
  .box-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .box {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(50% - 10px);
  }
  
  .box h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .box p {
    font-size: 18px;
    line-height: 1.5;
  } */


/* ================================================================ */

  .about-us {
    background-color: #fff;
    color: #212529;
    padding: 20px;
    text-align: center;
    margin-top: 10px; /* Add a top margin to separate from Home section */
  }
  
  
  .about-us h2 {
    font-size: 24px; /* Reduce the font size */
    margin-bottom: 20px;
  }
  
  .about-us p {
    font-size: 18px; /* Reduce the font size */
    line-height: 1.5;
  }
  
  
  .box {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 50%; /* Adjust the width as needed. */
    max-width: 400px; /* Set a maximum width for responsiveness. */
  }
  
  .box h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .box p {
    font-size: 18px;
    line-height: 1.5;
  }
  