body {
    background-color: #1a1a1a; /* Dark background */
    color: #e0e0e0; /* Light grey text */
    font-family: 'Young Serif', serif;
}

.header {
    text-align: center;
    padding: 20px;
}

.header-title {
    font-size: 64px;
    margin-bottom: 10px;
}

.header-description {
    font-size: 48px;
}

.buttonList {
    display: flex;
    margin-top: 180px;
    margin-bottom: 20px;
    padding: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

button {
    height: 250px;
    width: 250px;
    font-family: 'Young Serif', serif;
    font-size: 40px;
    border-radius: 50%;
    background-color: #008080; /* Slightly lighter than the background */
    color: #e0e0e0; /* Light grey text */
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s, background-color 0.3s; /* Transition for smooth effects */
}

.button:hover {
    background-color: #4db6ac; /* Brighter grey on hover */
    box-shadow: 10px 5px 15px #e0e0e0; /* Glowing effect */
}
