.home {
    background-color: #007bff;
    color: #fff;
    padding: 50px;
    text-align: center;
  }
  
  .logo {
    width: 200px;
    margin-bottom: 20px;
  }
  
  .home h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .home p {
    font-size: 24px;
    line-height: 1.5;
  }